{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
{% spaceless %}
<div class="control-group" id="{{form.name ~ '_widget'}}">
    {{ form_label(form) }}
    <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
</div>
{% endspaceless %}
{% endblock %}

{# Labels #}

{% block form_label %}
{% set label_attr = label_attr|merge({'class': 'control-label'}) %}
{{parent()}}
{% endblock form_label %}