{% extends 'IKStockBundle::fluid.html.twig' %}

{% block page_title %}
Product list / Stock
{% endblock page_title %}

{% block content %}
<table class="records_list table">
    <thead>
        <tr>
            <th>Article</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('stock_product_show', { 'id': entity.id }) }}">{{ entity.article }}</a></td>
            <td>{{ entity.name }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('stock_product_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('stock_product_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
