{% extends 'IKStockBundle::fluid.html.twig' %}

{% block page_title %}
Product creation / &laquo;{{category.name}}&raquo; / Stock
{% endblock page_title %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="{{path('stock_dashboard')}}">Home</a> <span class="divider">/</span></li>
    <li><a href="{{path('stock_category')}}">Category list</a> <span class="divider">/</span></li>
    <li><a href="{{path('stock_category_show', {id: category.id})}}">&laquo;{{category.name}}&raquo;</a> <span class="divider">/</span></li>
    <li><a href="{{path('stock_product_by_category', {id: category.id})}}">Product list</a> <span class="divider">/</span></li>
    <li class="active">New product</li>
</ul>

<form action="{{ path('stock_product_create', {id: category.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
{% endblock %}